<h2>Update the drone</h2>

<form action="/drones/{{_id}}/edit" method="POST">

<label for="name input">Name of the Drone: </label>
<input type="text" name="name" id="drone-name" value=" {{name}} ">


<label for="number of propellers">Number of propellers: </label>
<input type="number" name="propellers" id="drone-propellers" value="{{propellers}}">

<label for="maxSpeed">Maximum Speed: </label>
<input type="number" name="maxSpeed" id="drone-maxSpeed" value="{{maxSpeed}}">

<button type="submit">Edit information</button>

</form>